authorizationEndPoint="https://iam.smc.lab.local/auth/realms/smc-lab-local-realm/protocol/openid-connect/auth"
discoveryEndPoint=""
discoveryEndPointCacheInMillis="360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL="https://iam.smc.lab.local/auth/realms/smc-lab-local-realm"
jwksURI="https://iam.smc.lab.local/auth/realms/smc-lab-local-realm/protocol/openid-connect/certs"
openIdConnectClientId="liferay-portal-client"
openIdConnectClientSecret="8562bd93-8ccd-4426-bf7a-681ac9e38a32"
providerName="iam-keycloak-oidc"
scopes="openid\ email\ profile"
subjectTypes=[ \
  "public", \
  ]
tokenEndPoint="https://iam.smc.lab.local/auth/realms/smc-lab-local-realm/protocol/openid-connect/token"
userInfoEndPoint="https://iam.smc.lab.local/auth/realms/smc-lab-local-realm/protocol/openid-connect/userinfo"
